/* Elements principaux de la page */

#logo_guitarist
{
	width: 100px;
	height: 100px;
	margin-left: 100px;
	margin-bottom: 30px;
}

#logo_blue_puzzle
{
	width: 150px;
	height: 150px;
	margin-left: 100px;
	margin-top: 50px;
}

#photo_velo
{
	width:400px; 
	height:300px;
	margin-left: 50px;
	margin-top: -20px;
}

audio
{
	margin: 20px;
	position: relative;
}

.audio
{
	margin-top: 60px;
	text-align: center;
	border-left: 1px dashed rgb(226,135,170);
	border-right:1px dashed rgb(226,135,170);
}

.conclu
{
	border-left:1px solid rgb(226,135,170);
	padding-left:30px; 
	margin-top: 60px;
	text-align: justify;
}



